<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <cds-icon shape="home"></cds-icon>
      <a routerLink="#" class="nav-link">
        <span class="title">{{title}}</span>
      </a>
    </div>
    <div class="header-actions">
      <div class="header-actions">
        <div class="header-actions">
          <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
              <cds-icon shape="user" solid></cds-icon>
              <cds-icon shape="angle" direction="down"></cds-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <div *ngFor="let item of dropdownItems">
                <button clrDropdownItem (click)="item.onClick()">
                  <cds-icon [attr.shape]="item.icon"></cds-icon>
                  {{ item.text }}
                </button>
              </div>
            </clr-dropdown-menu>
          </clr-dropdown>
        </div>
      </div>
    </div>
  </header>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
      <div *ngFor="let item of appNavigation">
        <ng-container *ngIf="!item.items && appNavigation.length > 0">
          <a clrVerticalNavLink [routerLink]="item.path" routerLinkActive="active">
            <cds-icon clrVerticalNavIcon [attr.shape]="item.icon"></cds-icon>
            {{item.text}}
          </a>
        </ng-container>
        <ng-container *ngIf="item.items">
          <clr-vertical-nav-group routerLinkActive="active">
            <cds-icon [attr.shape]="item.icon" clrVerticalNavIcon></cds-icon>
            {{item.text}}
            <clr-vertical-nav-group-children *clrIfExpanded="true">
              <a *ngFor="let childItem of item.items"
                 clrVerticalNavLink
                 [routerLink]="childItem.path"
                 routerLinkActive="active">
                <cds-icon clrVerticalNavIcon [attr.shape]="childItem.icon"></cds-icon>
                {{childItem.text}}
              </a>
            </clr-vertical-nav-group-children>
          </clr-vertical-nav-group>
        </ng-container>
      </div>
    </clr-vertical-nav>

    <div class="content-area">
      <ng-content></ng-content>
    </div>
  </div>
</div>
