<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <div *ngFor="let item of appNavigation">
    <ng-container *ngIf="!item.items && appNavigation.length > 0">
      <a clrVerticalNavLink [routerLink]="item.path" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon [attr.shape]="item.icon"></cds-icon>
        {{item.text}}
      </a>
    </ng-container>
    <ng-container *ngIf="item.items">
      <div *ngFor="let childrenItems of item.items">
        <clr-vertical-nav-group routerLinkActive="active">
          <cds-icon [attr.shape]="item.icon" clrVerticalNavIcon></cds-icon>
          {{item.text}}
          <clr-vertical-nav-group-children *clrIfExpanded="true">
            <a clrVerticalNavLink [routerLink]="childrenItems.path" routerLinkActive="active">
              <cds-icon clrVerticalNavIcon [attr.shape]="childrenItems.icon"></cds-icon>
              {{childrenItems.text}}
            </a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
      </div>
    </ng-container>
  </div>
</clr-vertical-nav>
